<div id="home" class="page" data-page="home">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left"></div>
            <div class="title">主页</div>
            <div class="right"></div>
        </div>
    </div>
    <!-- Scrollable page content -->
    <div class="page-content">
        <div id="home-header"  data-pagination='{"el": ".swiper-pagination"}' class="swiper-container swiper-init">
            <div class="swiper-pagination"></div>
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../../images/wxIndex/index.png"></div>
            </div>
        </div>
        <div id="home-system" class="block block-strong">
            <div class="block-header">系统详情</div>
            <div class="row no-gap">
                <div class="col col-33">
                    <div class="row">
                        <div class="col"><span>0</span></div>
                    </div>
                    <div class="row">
                        <div class="col">在线站点</div>
                    </div>
                </div>
                <div class="col col-33">
                    <div class="row">
                        <div class="col"><span>0</span></div>
                    </div>
                    <div class="row">
                        <div class="col">站点总数</div>
                    </div>
                </div>
                <div class="col col-33">
                    <div class="row">
                        <div class="col"><span>0</span></div>
                    </div>
                    <div class="row">
                        <div class="col">用户</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="home-tool" class="block block-strong">
            <div class="block-header">常用</div>
            <div id="home-tool-row1" class="row no-gap">
                <div class="col col-33">
                    <div class="row">
                        <div class="col"><i class="fa fa-edit"></i></div>
                    </div>
                    <div class="row">
                        <div class="col">新建站点</div>
                    </div>
                </div>
                <div class="col col-33">
                    <div class="row">
                        <div class="col"><i class="fa fa-user-plus"></i></div>
                    </div>
                    <div class="row">
                        <div class="col">添加用户</div>
                    </div>
                </div>
                <div class="col col-33">
                    <div class="row">
                        <div class="col"><i class="fa fa-bell"></i></div>
                    </div>
                    <div class="row">
                        <div class="col">通知</div>
                    </div>
                </div>
            </div>
            <div id="home-tool-row2" class="row no-gap">
                <div class="col col-33">
                    <div class="row">
                        <div class="col"><i class="fa fa-info-circle"></i></div>
                    </div>
                    <div class="row">
                        <div class="col">关于我</div>
                    </div>
                </div>
                <div class="col col-33"></div>
                <div class="col col-33"></div>
            </div>
        </div>
    </div>
</div>