<div id="login" class="page no-navbar no-toolbar no-swipebac" data-page="login">
    <div class="page-content login-screen-content">
        <div class="login-screen-title">用户登录</div>
        <form id="login-form">
            <div class="list">
                <ul>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">用户名</div>
                            <div class="item-input">
                                <input type="text" name="id" placeholder="请输入 7 位数ID号">
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">密码</div>
                            <div class="item-input">
                                <input type="password" name="password" placeholder="请输入您的密码">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="list">
                <ul>
                    <li><a class="button button-outline">登录</a></li>
                </ul>
                <div class="block-footer">
                    <p>江南大学水质监控平台 2018</p>
                    <p><a href="#" class="close-login-screen">《免责声明》</a></p>
                </div>
            </div>
        </form>
    </div>
</div>