<div id="notice" class="page" data-page="notice">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="/home/" class="link">
                    <i class="icon icon-back"></i>
                    <span class="ios-only">返回</span>
                </a>
            </div>
            <div class="title">通知</div>
        </div>
    </div>
    <div class="page-content infinite-scroll-content">
        <div class="row block">
            <div class="chip col col-60">
                <div class="chip-media bg-color-blue">
                    <i class="icon f7-icons ios-only">bell</i>
                </div>
                <div class="chip-label">总共 ： <span></span> 条通知</div>
            </div>
            <div class="col col-40"></div>
        </div>
        <div class="list media-list">
            <ul>
                <!--<li class="card">-->
                    <!--<a href="#" class="item-link item-content">-->
                        <!--<div class="item-inner">-->
                            <!--<div class="item-title-row">-->
                                <!--<div class="item-title">TITLE</div>-->
                                <!--<div class="item-after">TIME</div>-->
                            <!--</div>-->
                            <!--<div class="item-subtitle"></div>-->
                            <!--<div class="item-text"></div>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</li>-->
            </ul>
            <br><br>
        </div>
        <div class="preloader infinite-scroll-preloader"></div>
    </div>
</div>