<!-- Page, data-name contains page name which can be used in page callbacks -->
<div id="siteupdate" class="page" data-name="siteupdate">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="/system/" class="link">
                    <i class="icon icon-back"></i>
                    <span class="ios-only">返回</span>
                </a>
            </div>
            <div class="title">修改站点</div>
        </div>
    </div>
    <div class="page-content">
        <form id="siteupdate-form" class="list">
            <ul>
                <li>
                    <div class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">站点号:</div>
                            <div class="item-input-wrap">
                                <input type="text" name="no" readonly>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">站点名:</div>
                            <div class="item-input-wrap">
                                <input type="text" name="name" placeholder="必需">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">地理位置:</div>
                            <div class="item-input-wrap">
                                <input type="text" name="pos" placeholder="可选">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">负责人:</div>
                            <div class="item-input-wrap">
                                <input type="text" name="charge" placeholder="可选">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">电话:</div>
                            <div class="item-input-wrap">
                                <input type="text" name="tel" placeholder="可选">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">邮箱:</div>
                            <div class="item-input-wrap">
                                <input type="text" name="email" placeholder="可选">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">采样频率(s/次):</div>
                            <div class="item-input-wrap">
                                <input type="text" name="hz" placeholder="必需">
                                <span class="input-clear-button"></span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </form>
        <div class="block block-strong">
            <button id="siteUpdateDo" class="button button-fill">提交</button>
        </div>
        <br>
    </div>
</div>