<!-- Page, data-name contains page name which can be used in page callbacks -->
<div id="siteshow" class="page" data-name="siteshow">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="/system/" class="link">
                    <i class="icon icon-back"></i>
                    <span class="ios-only">返回</span>
                </a>
            </div>
            <div class="title">站点详情</div>
        </div>
    </div>
    <div class="page-content">
        <div class="data-table card">
            <table>
                <tbody>
                    <tr>
                        <td class="label-cell">站点号</td>
                        <td class="numeric-cell"></td>
                    </tr>
                    <tr>
                        <td class="label-cell">站点名</td>
                        <td class="numeric-cell"></td>
                    </tr>
                    <tr>
                        <td class="label-cell">地理位置</td>
                        <td class="numeric-cell"></td>
                    </tr>
                    <tr>
                        <td class="label-cell">负责人</td>
                        <td class="numeric-cell"></td>
                    </tr>
                    <tr>
                        <td class="label-cell">联系电话</td>
                        <td class="numeric-cell"></td>
                    </tr>
                    <tr>
                        <td class="label-cell">邮箱</td>
                        <td class="numeric-cell"></td>
                    </tr>
                    <tr>
                        <td class="label-cell">采样频率 (s/次)</td>
                        <td class="numeric-cell"></td>
                    </tr>
                    <tr>
                        <td class="label-cell">IP地址</td>
                        <td class="numeric-cell"></td>
                    </tr>
                    <tr>
                        <td class="label-cell">端口号</td>
                        <td class="numeric-cell"></td>
                    </tr>
                    <tr>
                        <td class="label-cell">创建时间</td>
                        <td class="numeric-cell"></td>
                    </tr>
                    <tr>
                        <td class="label-cell">最近修改</td>
                        <td class="numeric-cell"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>