<!-- Page, data-name contains page name which can be used in page callbacks -->
<div id="usershow" class="page" data-name="usershow">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="/system/user/" class="link">
                    <i class="icon icon-back"></i>
                    <span class="ios-only">返回</span>
                </a>
            </div>
            <div class="title">用户详情</div>
        </div>
    </div>
    <div class="page-content">
        <div class="data-table card">
            <table>
                <tbody>
                <tr>
                    <td class="label-cell">头像</td>
                    <td class="numeric-cell"></td>
                </tr>
                <tr>
                    <td class="label-cell">ID</td>
                    <td class="numeric-cell"></td>
                </tr>
                <tr>
                    <td class="label-cell">名称</td>
                    <td class="numeric-cell"></td>
                </tr>
                <tr>
                    <td class="label-cell">角色</td>
                    <td class="numeric-cell"></td>
                </tr>
                <tr>
                    <td class="label-cell">Email</td>
                    <td class="numeric-cell"></td>
                </tr>
                <tr>
                    <td class="label-cell">电话</td>
                    <td class="numeric-cell"></td>
                </tr>
                <tr>
                    <td class="label-cell">上次登录</td>
                    <td class="numeric-cell"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>